.editable {
  width: 100%;
}

.default-edit-text {
  background-color: #fff;
  box-shadow: 3px 3px 0px rgba(84, 83, 83, 0.8);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 0.8px solid black;
  cursor: pointer;
}

.default-edit-text:active {
  transition: 100ms;
  box-shadow: 0 0 0;
}

.default-edit-text:hover {
  background-color: #dbdbdb;
  transition: 100ms;
}

.editable-text-input {
  height: 30px;
  width: 100%;
}

.submit-button {
  background-color: #1379ce;
  border: none;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}

.submit-button:hover {
  background-color: #0d538d;
}

.editable-footer {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.editable-text-input {
  padding: 5px;
}

.form-close {
  height: 30px;
  width: 30px;
}
