.board {
  height: 100%;
  min-width: 280px;
  border-radius: 5px;
}

.board-top {
  display: flex;
  justify-content: space-between;
}

.board-top-title {
  display: flex;
  gap: 5px;
  color: #4b4a4a;
  font-weight: 600;
}

.board-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 720px;
  background-color: rgb(238, 240, 241);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  overflow-x: auto;
}

.boards-card-add {
  background-color: #fff;
}

.board-top {
  position: relative;
}

.board-options {
  cursor: pointer;
}
