.board {
  height: 100%;
  min-width: 280px;
  border-radius: 5px;
}

.board-top {
  display: flex;
  justify-content: space-between;
}

.board-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 720px;
  background-color: rgb(238, 240, 241);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  overflow-x: auto;
}
