.cardInfo-box {
  height: 80vh;
  width: 60vw;
  background-color: #fff;
  gap: 30px;
}

.cardInfo-box {
  padding: 20px;
}

.cardInfo-box-title {
  display: flex;
  gap: 5px;
}

.cardInfo-box-body {
  width: 20%;
  margin: 10px;
}
