.cardInfo {
  font-size: 1.2rem;
  overflow-y: auto;
  background-color: #fff;
  height: 100%;
  width: 50vw;
}

.custom-scroll::-webkit-scrollbar-thumb {
  width: 15px;
  background-color: #ccc;
}

.cardInfo-box {
  gap: 30px;
}

.cardInfo-box {
  padding: 20px;
}

.cardInfo-box-title {
  display: flex;
  gap: 5px;
}

.cardInfo-box-body {
  width: 30%;
  margin: 10px;
  margin-bottom: 30px;
}

.cardInfo-box-body Editable {
  background-color: #fff;
}

.cardInfo-box-body input {
  border: 0.5px solid black;
  padding: 5px;
  width: 150px;
}

.cardInfo-box-labels {
  padding: 10px;
}

.cardInfo-tags {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.tags {
  width: 20px;
  height: 20px;
  list-style: none;
  border-radius: 10px;
  margin: 10px;
}

.tags-active {
  width: 20px;
  height: 20px;
  list-style: none;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid yellow;
  transform: scale(1.5);
  transition: 200ms;
}

.cardInfo-box-progress {
  height: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.cardInfo-box-progress-bar {
  height: 10px;
  width: 0%;
  border-radius: 10px;
  background-color: #1379ec;
}

.cardInfo-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  padding: 5px;
}

.cardInfo-task div {
  display: flex;
  gap: 5px;
}

.cardInfo-box-list-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding-bottom: 20px;
}
.cardInfo-box-list-content div {
  display: flex;
  gap: 5px;
}
