.card-top {
  gap: 5px;
  background-color: #fff;
  padding: 10px;
}

.card-label {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  position: relative;
  max-width: 275px;
  flex-wrap: wrap;
}

.card-info {
  display: flex;
}
.options-container {
  position: relative;
  display: inline-block;

  .options-icon {
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  > div {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
  }
}

.card-title {
  font-weight: 600;
  padding: 5px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.card-footer-left {
  display: flex;
  align-items: center;
}

.card-footer-right {
  display: flex;
  align-items: center;
}
